// Override this file to add your own SCSS styling.



//$navbar-theme-bg-primary:  #17535d; //导航栏背景色
$navbar-theme-bg-primary:  #1565c0; //导航栏背景色
$navbar-theme-text-primary:  #fff; //导航栏前景文字颜色
$navbar-theme-top-line-primary:  #8dc015; //导航栏顶部横线颜色





.user-icon-avatar {
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: darkgrey;
  font-size: 4rem;
  margin: 0 auto;
  object-fit: cover;
  color: #666;
}

#section-hero {
  .carousel-control-prev-icon, .carousel-control-next-icon {
    width: 1rem;
    height: 1rem;
  }

  .hero-title {
    font-size: 1.5rem;
  }
  .hero-lead {
    font-size: 0.8rem;
  }
}

#section-news {
  h1 {
    font-size: 1.4rem;
  }

  .card-simple .article-title {
    font-size: 0.8rem;
  }
  .card-simple .article-style {
    font-size: 0.8rem;
  }


}

.home-video-wrapper {
  position: relative;

  .video-title-position {
    position: absolute;
    top: 0;
    width: 100%;
  }
  .video-title-wrap {
    color: $navbar-theme-text-primary;
    padding: 0.5rem 2rem;

    background-color: $navbar-theme-bg-primary;
    //border-top: 4px solid #e65100;
    border-top: 4px solid $navbar-theme-top-line-primary;

    display: flex;
    justify-content: space-between;
    align-items: center;


    .video-title1 {
      font-size: 3rem;
    }
    .video-subtitle1 {}
  }



}
.banner-video1 {
  max-height: unset !important;
}
.navbar {
  background-color: $navbar-theme-bg-primary;
  //background-color: #1565c0;
}
#navbar-main .main-menu-item ul li .nav-link {
  color: $navbar-theme-text-primary;
}
.navbar-light .navbar-brand {
  color: $navbar-theme-text-primary;
}



//手机
@media (max-width: 478px) {
  .navbar-brand {
    margin: 0 auto;
  }


  .video-title-wrap {

    flex-flow: column;
    align-items: flex-start !important;
    padding: 0.5rem 1rem !important;


    .video-title1 {
      font-size: 1.5rem !important;
      display: none;
    }

    .video-subtitle1 {
      font-size: .9rem
    }

  }

  #navbar-main .main-menu-item ul li .nav-link {
    color: #2e2e2e;
  }

  .people-persons-list-row {
    flex-direction: column;
  }

}


.people-persons-list-row {
  display: flex;
  .person-img {
    img {
      max-width: 270px;
      height: auto;
    }
    padding: 1rem;

  }
  .person-desc {
    flex: 1;
    padding-left: 1rem;
  }
  .avatar {
    margin: 0 !important;
  }
}
